body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #000;
    background-image: url("/assets/grid6.jpg");
    aspect-ratio: auto;
    font-family: Roboto, sans-serif;
    font-size: large;
    color: #4444ee;
}


.scene {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#gameCanvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
}


#loadingGrid {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
}